mixin header()
	header.velaHeader
		.velaHeader__wrapper
			.container
				.velaHeaderContent
					h1.velaHeaderLogo
						a.velaHeaderLogo__link(href="#")
							//- +img('images/logo.png', 'Logo')
							| Velatheme
