mixin header()
  header.vel-header
    .vel-header__wrapper
      .container
        .vel-header__content
          h1.vel-logo
            a.vel-logo__link(href="#")
              //- +img('images/logo.png', 'Logo')
              | Velatheme
