mixin footer()
	footer.velaFooter
		.velaFooter__wrapper
			.container
				.velaCopyright
					| Copyright © 2017 by Velatheme. All right reserved.
	script(type='text/javascript' src='js/vendor.js')
	script(type='text/javascript' src='js/vela.js')